In [3]:
pip install plotly

Requirement already satisfied: plotly in /opt/conda/lib/python3.7/site-packages (4.10.0)
Requirement already satisfied: retrying>=1.3.3 in /opt/conda/lib/python3.7/site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from plotly) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json
import plotly
import plotly.express as px
# from kaleido.scopes.plotly import PlotlyScope
import plotly.graph_objects as go
import scipy.stats as st
from sklearn.linear_model import LinearRegression

# Files to Load and read
# tech = pd.read_csv("Resources/Innovation&Technology_WB.csv")
data = pd.read_csv("Countrydata.csv")
business = pd.read_csv("../Resources/DoingBusiness_WB.csv")


data_new = data.rename(columns={'Country': 'country_name'})
# print(data_new)


# # Merged the data into a single one datset
df = pd.merge(data_new, business, on="country_name", how="outer").drop(
    [
    
        "FDI 2016",
        "FDI 2017",
        "FDI 2019",
    ],
    axis=1,
).dropna()

df

,country_name,FDI 2018,Region,GDP 2018,tech_export_2018 (million),doing_business_2017,doing_business_2018,doing_business_2019
0,Afghanistan,1,Asia,"$19,484,384,936.63",0.0000,38.9,37.1,44.2
1,Albania,0,Europe,"$15,147,020,535.39",0.5917,64.2,66.8,67.0
2,Angola,0,Africa,"$101,353,230,784.59",98.2259,37.7,39.0,41.2
3,Antigua and Barbuda,3,Central America& Caribbean,"$1,610,574,074.07",0.0114,58.8,59.8,59.9
4,Argentina,822,South America,"$519,871,519,807.80",647.1724,57.2,57.3,58.2
...,...,...,...,...,...,...,...,...
145,United Kingdom,"496,622",Europe,"$2,860,667,727,551.97",76926.5410,83.3,83.2,83.6
146,Uruguay,538,South America,"$59,596,885,023.09",120.1979,60.7,61.0,61.4
147,Vietnam,59,Asia,"$245,213,686,369.16",82613.4210,65.3,67.0,68.6
149,Zambia,-6,Africa,"$27,005,238,896.17",25.8055,60.3,64.2,65.7
150,Zimbabwe,-3,Africa,"$24,311,560,500.00",9.7194,47.8,48.6,50.5

In [11]:
df[df.Region == "Africa"]
Africa_df = df[df.Region == "Africa"]

Africa_df

,country_name,FDI 2018,Region,GDP 2018,tech_export_2018 (million),doing_business_2017,doing_business_2018,doing_business_2019
2,Angola,0,Africa,"$101,353,230,784.59",98.2259,37.7,39.0,41.2
16,Benin,0,Africa,"$14,250,985,958.67",1.4087,49.7,51.6,51.7
20,Botswana,0,Africa,"$18,663,264,705.88",39.4492,65.6,65.7,66.2
24,Cameroon,0,Africa,"$38,694,095,650.98",0.0000,41.8,45.1,46.0
26,Central African Republic,0,Africa,"$2,220,978,978.17",0.0000,32.0,32.4,34.8
27,Chad,1,Africa,"$11,239,167,048.49",0.0000,36.0,35.5,36.7
43,Ethiopia,0,Africa,"$84,269,348,327.35",0.0000,44.1,46.1,47.1
50,Ghana,-4,Africa,"$65,556,464,048.15",50.0067,58.0,58.4,60.4
55,Guinea,0,Africa,"$12,207,116,729.08",0.0000,46.0,46.7,49.3
56,Guinea-Bissau,0,Africa,"$1,458,156,026.13",0.0000,42.8,42.9,43.2
57,Guyana,0,Africa,"$3,878,662,620.77",0.1604,56.4,56.8,55.6
73,Kenya,-5,Africa,"$87,778,582,964.14",54.8993,62.8,65.4,71.0
81,Liberia,466,Africa,"$3,264,000,000.00",0.0000,40.0,43.6,43.5
82,Libya,1,Africa,"$52,607,888,717.95",0.0000,32.5,32.5,32.7
86,Madagascar,0,Africa,"$13,853,433,947.62",2.9993,42.7,46.4,47.0
89,Mali,-1,Africa,"$17,172,022,684.31",0.0000,52.6,52.9,53.1
92,Mauritania,0,Africa,"$7,049,169,770.86",0.0000,46.9,48.4,49.4
93,Mauritius,487,Africa,"$14,181,803,715.40",31.2926,76.5,78.9,80.3
98,Morocco,-22,Africa,"$117,921,394,402.36",838.9599,69.2,69.2,71.7
99,Mozambique,-1,Africa,"$14,717,223,206.90",27.2201,52.1,52.8,54.6
100,Namibia,2,Africa,"$13,454,211,124.46",2.8883,60.1,61.1,61.4
105,Niger,0,Africa,"$12,826,750,567.19",0.0000,49.3,51.2,52.3
106,Nigeria,81,Africa,"$398,160,403,206.52",41.6320,48.5,52.0,53.4
119,Rwanda,0,Africa,"$9,627,720,629.71",0.0000,69.0,71.1,75.4
121,Sao Tome and Principe,0,Africa,"$422,295,934.15",1.3329,44.3,44.7,45.0
123,Senegal,1,Africa,"$23,236,007,428.26",28.1557,50.3,54.0,54.4
125,Sierra Leone,0,Africa,"$4,085,114,794.22",0.0000,47.2,47.1,47.2
138,Tanzania,1,Africa,"$58,001,200,572.40",186.2584,53.9,54.0,54.3
141,Tunisia,1,Africa,"$39,770,297,328.95",0.0000,65.5,65.3,67.2
149,Zambia,-6,Africa,"$27,005,238,896.17",25.8055,60.3,64.2,65.7
150,Zimbabwe,-3,Africa,"$24,311,560,500.00",9.7194,47.8,48.6,50.5

In [ ]:
df[df.Region == "Africa"]
Africa_df = df[df.Region == "Africa"]
Africa_df.dropna()
Africa_df.sort_values(["FDI 2018", "country_name"], ascending=False)
Africa_fdi = Africa_df.loc[(Africa_df["FDI 2018"] >= 2136.0)].sort_values(
    ["FDI 2018"], ascending=False
)
new_africa_fdi =Africa_fdi.rename(
    columns={
        "country_name": "Countries",
        "FDI 2018": "FDI in USA (million)",
    }
)

new_africa_fdi